.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); */
  /* grid-gap: 20px; */
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  max-width: 1100px;
  margin-top: 40px;
}

@media screen and (min-width : 768px) and (max-width : 1000px) {
  .grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); */
    /* grid-gap: 20px; */
    align-items: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
  }
}

.grid > article {
  z-index: 9;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1)!important;
  border-radius: 0px 0px 30px 30px;
  
}

.grid > article img {
  max-width: 100%;
}

.cursor{
  cursor: pointer;
}


