/* .parallax-container {
    position: relative;

  }
  
  .parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  } */

.parallax-container {
    height: 100vh; /* Set the height of the container */
    overflow-x: hidden; /* Ensure no horizontal overflow */
    overflow-y: auto; /* Enable vertical scrolling */
    perspective: 1px; /* Enable 3D perspective */
}

.parallax-layer {
    position: absolute; /* Position the layers absolutely */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.parallax-bg {
    background-size: cover; /* Cover the entire background */
    background-attachment: fixed; /* Keep the background fixed during scrolling */
    background-position: center; /* Center the background */
}

