@media screen and (min-width : 768px) {
    .deskimg{
        display: block;
    }
    .mobiimg{
        display: none;
    }
}

@media screen and (max-width : 767px) {
    .deskimg{
        display: none;
    }
    .mobiimg{
        display: block;
    }

}

.wd-100{
    width: 100%;
    
}

