.single-blog1-bg{
    background-image: url("/Allbackground/nipater.png");
        background-repeat: repeat;
        background-size: 100px 100px;
      
    }
    .single-blog1{
    
    padding-top:200px;
    max-width: 1024px;
        margin: 0px auto;
    padding-bottom:60px;
    overflow:hidden;
    
    }
    .blog-post-author:before{
    content: '';
        margin-left: 30px;
        border-left: 1px solid #353535;
        height: 100%;
        left: -15px;
        position: relative;
    }
    
    .single-blog-back-button{
    text-transform: uppercase;
    text-decoration:none;
    }
    .single-blog-back-button span{
    font-size:20px;
    }
    .single-blog-back-button-div{
    padding-bottom:24px;
    }
    .single-blog-img-div{
    
    }
    .single-blog-img{
    margin-top:30px;
    border-radius:30px;
    
    }
    .single-blog-section2{
    padding-top:60px;
    max-width: 1024px;
        margin: 0px auto;
        padding-bottom:30px;
    }
    .single-blog-section2 h2,.single-blog-section2 h3,.single-blog-section2 h4, .single-blog-section2 h5, .single-blog-section2 h6{
    font-size: 30px;
    margin-top:30px;
    margin-bottom:16px;
    }
    
    .single-blog-section2 ul{
    list-style-type:circle;
    
    }
    .single-blog-section2 ul li{
    padding-bottom:8px;
    }

    
    .single-blog-section3{
    padding-bottom:60px;
    max-width: 1024px;
        margin: 0px auto;
       
    }
    .coninp,.coninp-sub {
        background-color: transparent;
    }
    .single-blog-section3-share-div{
        border-top: 1px solid #353535;
        border-bottom: 1px solid #353535;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align:right;
    }
    .blog_social_list{
            list-style-type: none;
        padding-left: 0px;
        margin-bottom: 0px;
        display:inline-block;
    }
    .blog_social_list li{
           display: inline-block;
        margin-right: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .blog_social_list li img {
        width: 25px;
    }
    .share-title{
       
        font-size: 18px;
        font-weight: 500;
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 0px;
    }
    
    @media (max-width: 767px){
    .single-blog1 {
        padding-top: 150px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .single-blog-back-button-div{
        padding-bottom:15px
    }
    }
    @media (max-width: 425px){
        .share-title{
             margin-right: 10px;
        }
        .blog_social_list li {
        margin-right: 10px;
    }
    .blog_social_list li img {
        width: 20px;
    }
    }

    .blod-img{
        width: 100%;
        height: auto;
    }

.single-blog-back-button-div a{
    color: inherit;
}

.arrow-img-back{
    width: 18px;
    height: auto;
}

.font-sm{
    font-size: clamp(30px,4vw,100px);
}