
.builder-cen {
    text-align: center;
}







.build-inner-flex {
    display: flex;
}



.build-para {
    text-align: center;
}

.builder-main-div{
    background-color: #F3F3F1;
}
.builder-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 60vh; */
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.font-30 {
    font-size: 18px;
}

.builder-main-div {
    position: relative;
    overflow: hidden;
    height: 40vh;
}
.build-p-font{
    font-size: 60px;
}
@media (min-width : 768px) and (max-width : 1200px) {
   
}
@media (min-width : 768px) {
   
    .font-30 {
        font-size: 30px;
    }
    .builder-flex{
        height: 100vh;
    }
    .builder-main-div {
        height: 100vh;
    }
   
    .build-p-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -50px;
    }
    .build-p-font{
        font-size: 250px;
    }
    
}
.build-p-font {
    color: #F8A046;
}
.three-center{
    text-align: center;
}


.build-anime {
    position: absolute;
    top: 50%;
    /* left: 100%; */
    right: -80%;
    border-radius: 0 15rem 16rem 0;
    /* background-color: #F3F3F1; */
    transform: translate(-50%, -50%);
}

.build-anime .span-right {
    background-color: #F3F3F1;
    padding-left: 48px;
} 

.div-relative{
    position: relative;
}

.build-anime .span-left{
    position: absolute;
    left: -100px;
}

@media (max-width : 768px) {
    .build-hide{
        display: none;
    }
}

@media (min-width : 767px) {
    .three-center{
        display: none;
    }
}

/* background-color: #F3F3F1; */